<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Portafolio Online Jhon Mercado</title>
		<meta charset="uft-8"/>
	</head>
	<body>
		<header>
			<nav>
				<ul>
                    <li>
                    	<a href="">Yo</a>
                    </li> 
                    <li>
                    	<a href="">Perfil</a>
                    </li> 
                    <li>
                    	<a href="">Trabajo</a>
                    </li> 
                    <li>
                    	<a href="">Contacto</a>
                    </li> 
				</ul>
			</nav>
			<figure>
				<img src="avatar.jpg" alt="Imagen personal"/>
				<figcaption><a href="http://twiter.com/jhonmercado1801" target="_black">@jhonmercado1801</a></figcaption>
			</figure>
			<p>Jhon Mercado</p>	
		</header>
		<section>
			<p> 
				Descripcion
			</p>
			<a href="http://twiter.com/jhonmercado1801" target="_black">@jhonmercado1801</a>
			<a href="http://facebook.com/jhon.mercado1802" target="_black">Jhon Mercado</a>
			<a href="http://twiter.com/jhonmercado1801" target="_black">@jhonmercado1801</a>

		</section>
		<section></section>
		<footer></footer>

	
	</body>
</html>

